/.phpunit.result.cache
/node_modules
/vendor
/public/build
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
homestead.json
.vagrant
